.main-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

svg {
    background-color: rgb(26, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-size: 18px;
    margin: 0;
}


.title h2 span {
    color: var(--secondary-color);
}

.title:nth-child(2) {
    color: var(--secondary-color);
}

.presentation {
    margin-top: 60px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;    
}

svg.animated {
    animation: 6s Infinite linear shake;
    animation-delay: 2s;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* @keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */

@media screen and (min-width: 768px) {
    .title h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) {

    .title h2 {
        font-size: 32px;
    }

    svg {
        width: 500px;
        height: 500px;
    }

    .presentation {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

}