.main-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

svg {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-size: 18px;
    margin: 0;
}


.title h2 span {
    color: var(--secondary-color);
}

.title:nth-child(2) {
    color: var(--secondary-color);
}

.presentation {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-size: 100vw;
}

.sections {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

svg.animated {
    animation: 6s Infinite linear shake;
    animation-delay: 2s;
}

/* Tecnologies */
.icon-t {
    font-size: 50px;
}

.container-tec {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.container-tec div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container-tec div p {
    margin: 0;
    font-weight: 500;
}

.container-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.icons-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.icons-contact svg {
    width: 50px;
    height: 50px;
}


@media screen and (min-width: 768px) {
    .title h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) {

    .sections {
        height: 100vh;
        padding: 90px 0 0 0;
    }

    .title h2 {
        font-size: 32px;
    }

    svg {
        width: 500px;
        height: 500px;
    }

    .presentation {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    /* tecnologies */

    .container-tec {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 70px 40px;
    }

    .icon-t {
        font-size: 70px;
    }

    .container-contact {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    .icons-contact svg {
        width: 70px;
        height: 70px;
        transition: all 0.3s ease;
    }

    .icons-contact svg:hover {
        color: var(--secondary-color);
    }

}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}