.header-container {
    position: fixed;
    top: 12px;
    opacity: 0.9;
    height: 45px;
    width: 100%;
    padding: 0 8px;
    z-index: 9999;
}

.header-icon {
    height: 30px;
    width: 30px;
    color: white;
}

.navlist-container {
    display: none;
}

@media screen and (min-width: 1024px) {
    .header-container {
        width: 60%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        overflow: hidden;
        backdrop-filter: blur(15px);
    }

    .header-icon {
        display: none;
    }

    .header-icon:hover {
        cursor: pointer;
    }

    .navlist-container {
        padding: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        flex-grow: 0.6;
        background-color: #38383849;
    }

    .navlist-container li {
        font-weight: 500;
        color: white;
        transition: all 0.1s ease-in-out;
        text-shadow: #000000ce 1px 1px;
    }

    .navlist-container li:hover {
        border-bottom: 2px inset var(--secondary-color);
        font-weight: 600;
    }
}